<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no" > -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    {% if title %}
        <title>{{ title }} - checkmate</title>
    {% else %}
        <title>checkmate</title>
    {% endif %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styleOne.css') }}">
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>

    <div class="container-fluid topBar fixed-top">
        <div class="row">
            <div class="col-2 reqTab">
                <a href="" title="requests">
                    <i class="fa-solid topBarIcon fa-eye"></i>
                </a>
            </div>
            <div class="col-8 searchTab">
                <form class="searchBox" action="">
                    <input class="searchTxt" type="text" placeholder="find..." name="search">
                    <button class="searchBtn" title="search" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <!-- <div class="col-2 blankTab"></div> -->
            <div class="col-2 accTab">
                <a href="" title="profile">
                    <i onclick="openNav()" class="fa-solid topBarIcon fa-circle-user"></i>
                </a>  
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
</body>