<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="mobile-web-app-capable" content="yes"/>
        <title>checkmate</title>
        <!-- <link rel="preload"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
        <link rel="preload" href="{{ url_for('static',
            filename='styleIndex.css') }}"> -->
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
            integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',
            filename='styleIndex.css') }}">
        <link rel="manifest"
            href="{{ url_for('static', filename='manifest.json') }}">
    </head>
    <body>
        <div class="topBar">
            <div onclick="openNav()">
                <i class="fa-solid fa-bars-staggered"></i>
            </div>
            <div>
                <a href="{{ url_for('views.requests') }}">
                    <i class="fa-solid fa-masks-theater"></i>
                </a>
            </div>
        </div>

        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="profilePicBox">
                <img src="" alt="">
            </div>
            <a class="sidenavOptions" href="/profiles/{{ session.username }}">Profile</a>
            <a class="sidenavOptions" href="/logout">Logout</a>
        </div>

        <div id="friendsPage">
            <div class="ffImg">
                <div class="emptyInfo">add friends to view their timetables</div>
                <div class="ffShortcut">
                    <a href="">
                        <i class="fa-solid fa-masks-theater"></i>
                    </a>
                </div>
                <img src="{{ url_for('static',
                    filename='images/index/findFriends.svg') }}" class=""
                    alt="">
            </div>
            {% for friend in friends %}
            <div class="card2">
                <div class="picBox">
                    <img class="cardAvatar" src="{{ url_for('views.avatar',
                        username=friend.username) }}"
                        alt="{{ friend.username }}">
                </div>
                <div class="infoBox">
                    <div class="subName2">
                        {% if friend.period %}
                        {{ friend.period.title }}
                        {% endif %}
                    </div>
                    <div class="subTimeLoc2">
                        <div class="subTimeUpto">
                            {% if friend.period %}
                            {{ friend.period.start }}-{{ friend.period.end }}
                            {% endif %}
                        </div>
                        <div class="subLoc">
                            {% if friend.period %}
                            {{ friend.period.venue }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="nextSub2">
                        {% if 'next_period' in friend %}
                        {{ friend.next_period.time }} in {{
                        friend.next_period.venue }}
                        {% else %}
                        last class...
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
        <div id="groupsPage">
            <div class="gpImg">
                <div>work in progress
                    <br>
                    will be available soon...
                </div>
                <img src="{{ url_for('static',
                    filename='images/index/underConstruction.svg') }}" class=""
                    alt="">
            </div>
        </div>
        <div class="bottomBar">
            <div>
                <i onclick="groupPageOnly()" id="groupBtn" class="fa-solid
                    bottomBarIcon fa-user-group"></i>
            </div>
            <div>
                <i onclick="friendPageOnly()" id="friendBtn"
                    class="fa-solid bottomBarIcon bottomBarIcon-active fa-user"></i>
            </div>
        </div>

        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>