{% extends 'base.html' %}

{% block content %}
    <div class="loginTopBar">
        <a title="close" class="closeBtnLink" href="/">
            <div class="closeBtn">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </a>
        <div class="logoNameSec">
            CHECKMATE
        </div>
        <div class="picUpload">
            <div class="uploadCont">
                <div class="center">
                    <img class="barLogo" id="logo" src="">
                </div>
            </div>
        </div>
    </div>

    <form id="credentials" action="">
    <div id="loginArea">
        <div class="loginFormContainer">
            <label class="enterUnameTxt" for="uname">enter username:</label>
            <br>
            <input type="text" id="uname" placeholder="nickname" name="uname">
            <br>
            <div class="errorMsg">
                username already exists
            </div>
            <br>
            <input id="loginPswd" form="main" type="password" placeholder="password" name="pswd">
            <br>
            <input id="startLoginBtn" class="uNamelogin" type="button" value="login">
        </div>
        <img src="{{ url_for('static', filename='images/signup/username.svg') }}" class="uNameImg" alt="">
    </div>
    </form>
{% endblock %}