{% extends "base.html" %}

{% block content %}
<div class="logoBar">CHECKMATE</div>
<div class="formContainer">
<form class="loginForm" action="" method="post">
    {{ form.hidden_tag() }}
    <div class="input-group">
        {{ form.username(size=32, class="loginFormEntry", placeholder="username") }}<br>
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="input-group">
        {{ form.password(size=32, class="loginFormEntry", placeholder="password") }}<br>
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <p">{{ form.submit(class="loginClick") }}</p>
</form>
</div>
{% endblock %}