<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <title>Login - checkmate</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',
            filename='styleLogin.css') }}"
    />
  </head>
  <body>
    <div class="loginTopBar">
      <a href="/">
        <div class="logoNameSec">CHECKMATE</div>
      </a>
    </div>

    <form action="/login" method="post">
      {{ form.hidden_tag() }}
      <div id="setUser">
        <div class="loginFormContainer">
          <label class="enterUnameTxt" for="uname">enter username:</label>
          <br />
          {{ form.username(id='uname', placeholder='nickname') }}
          <br />
          <div class="errorMsg">
            {% for error in form.username.errors %} {{ error }} {% endfor %}
          </div>
          <br />
          <label class="enterPswdTxt" for="pswd">enter password:</label>
          <br />
          {{ form.password(id='loginPswd', placeholder='password') }}
          <br />
          <div class="errorMsg">
            {% for error in form.password.errors %} {{ error }} {% endfor %}
          </div>
          <br />
          <button class="uNameLogin" name="submit" type="submit">Login</button>
        </div>
        <img
          src="{{ url_for('static',
                    filename='images/signup/bwusername.svg') }}"
          class="uNameImg"
          alt=""
        />
      </div>
    </form>
  </body>
</html>
