{% extends "base.html" %}

{% block content %}

<div class="topExt"><div class="loginLogoBar">CHECKMATE</div></div>
    <form class="registerForm" action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="enterUsername">
            <div class="entryForm">
            <div class="enterInfo">Enter Username</div>
            {{ form.username.label }}<br>
            {{ form.username(size=32,placeholder="nickname",class="inputBox") }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </div>
            <i onclick="scrollDown()" class="swipeDown fa-solid fa-angles-down"></i>
        </div>
        <div class="enterMail">
            <i onclick="scrollUp()" class="goPrevious fa-solid fa-arrow-up"></i>
            <div class="entryForm">
            <div class="enterInfo">Enter <br> E-mail ID</div>
            {{ form.email.label }}<br>
            {{ form.email(size=64,placeholder="abc@gmail.com",class="inputBox") }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </div>
            <i onclick="scrollDown()" class="swipeDown fa-solid fa-angles-down"></i>
        </div>
        <div class="enterPassword">
            <i onclick="scrollUp()" class="goPrevious fa-solid fa-arrow-up"></i>
            <div class="entryForm">
            <div class="enterInfo">Enter password</div>
            {{ form.password.label }}<br>
            {{ form.password(size=32,placeholder="password",class="inputBox") }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </div>
            <i onclick="scrollDown()" class="swipeDown fa-solid fa-angles-down"></i>
        </div>
        <div class="enterRePassword">
            <i onclick="scrollUp()" class="goPrevious fa-solid fa-arrow-up"></i>
            <div class="entryForm">
            <div class="enterInfo">Re-enter password</div>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32,placeholder="password",class="inputBox") }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </div>
            <i onclick="scrollDown()" class="swipeDown fa-solid fa-angles-down"></i>
        </div>
        <div class="enterName">
            <i onclick="scrollUp()" class="goPrevious fa-solid fa-arrow-up"></i>
            <div class="entryForm">
            <div class="enterInfo">Enter <br> your Name</div>
            {{ form.name.label }}<br>
            {{ form.name(size=50,placeholder="Full Name",class="inputBox") }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </div>
            <i onclick="scrollDown()" class="swipeDown fa-solid fa-angles-down"></i>
        </div>
        <div class="enterTT">
            <i onclick="scrollUp()" class="goPrevious fa-solid fa-arrow-up"></i>
            <div class="entryForm">
            <div class="enterInfo">Enter TimeTable</div>
            {{ form.timetable.label }}<br>
            {{ form.timetable() }}<br>
            <div class="enterSubmit">{{ form.submit(class="registerBtn") }}</div>
            {% for error in form.timetable.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </div>
            <!-- <i onclick="scrollDown()" class="swipeDown fa-solid fa-angles-down"></i> -->
        </div>
    {{ form.avatar() }}
        <!-- <div class="enterSubmit">{{ form.submit() }}</div> -->
    </form>
{% endblock %}